<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<div class="container mb-5">
    <div class="row">
        <div class="col-12" th:if="${products.size() > 0}">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th scope="col">Manufacturer</th>
                        <th scope="col">Category</th>
                    </tr>
                    </thead>
                    <tbody>
                    <h3>Shopping cart for <th:block th:if="${session.user != null}" th:text="${session.user.getUsername()}"></th:block> </h3>
                    <tr th:each="product : ${products}">
                        <td th:text="${product.getName()}"></td>
                        <td th:text="${product.getPrice()}"></td>
                        <td th:text="${product.getManufacturer() != null} ? ${product.getManufacturer().getName()} : 'No manufacturer'"></td>
                        <td th:text="${product.getCategory() != null} ? ${product.getCategory().getName()} : 'No category'"></td>
                        <td class="text-right">
                            <form th:method="delete" th:action="@{'/products/delete/{id}' (id = ${product.getId()})}">
                                <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                            </form>
                            <form th:method="delete" th:action="@{'/products/delete/{id}' (id = ${product.getId()})}">
                                <button type="submit" class="btn btn-sm btn-danger">Add product to cart</button>
                            </form>
                            <a th:href="@{'/products/edit-form/{id}' (id = ${product.getId()})}">Edit</a>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <div>
                <div>
                    <a href="/products/add-form">Add new product</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>